body{
    margin:0px;
}


.h1-tag{
    color: red;
}
.nav-bar{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: lightblue;
    padding: 15px;
    text-align: center;
}

.nav-bar a {
    padding:15px;
    text-decoration: none;
    color:black;
}

.nav-bar a:hover {
    background-color:blanchedalmond;
}

.card{
    border: 2px solid black;
    width: 350px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 80px;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card img{
    width: 100%;
}

.card button{
    width: 70%;
    padding:10px;
    border-radius: 20px;
}

.card button:hover{
    cursor: pointer;
    background-color: blanchedalmond;
}